.card-register-user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(3px 3px 24px);
}

mat-card-subtitle .label-login {
    float: right;
    color: #3f51b5;
}

mat-card-subtitle .label-login:hover {
    cursor: pointer;
}

.start-game-form mat-content {
    width: 268px;
    display: flex;
    flex-direction: column;
}

.example-full-width {
    width: 268px;
}

.start-game-form input {
    width: 100%;
}

.button-register {
    width: 268px;
    margin: 10px 0px;
}

.socials {
    display: flex;
    margin-top: 5px;
    justify-content: space-around;
}

.socials img {
    width: 35px;
    height: 35px;
    transition: transform 0.3s;
}

.socials img:hover{
    cursor: pointer;
    transform: translateY(-3px);
}