.start-game-component {
    width: 100%;
    min-height: 100%;
    z-index: -30;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* filter: blur(1.5px); */
}

