.gameControls{
  display: flex;
  flex-direction: row;
}

.newgame-component{
  display: flex;
  align-items: center;
}

.Boards{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Boards > div{
  width: 45%;
}

table td, table th {
    border: 1px solid #dbdbdb;
    padding: 0.5em 0.75em;
    vertical-align: middle;
    height: 50px;
    text-align: center;
}
table {
  margin: 0 auto;
  border: 1px solid #eee;
}
table tr:hover {
    background-color: transparent;
}
.battleship-tile:hover {
  cursor: pointer;
}