<div class="gameControls">
  <app-new-game class="newgame-component"></app-new-game>
  <app-join-game (gameJoined)='srtGameId($event)'></app-join-game>
</div>

<hr />
<div class="Boards">
  <div class="playerBoard">
    <table class="board">
      <div></div>
      <tr *ngFor='let row of fieldOne; let i = index;'>
        <td *ngFor='let item of row; let j = index;' (click)="fire((i+1)*(j+1))">
          <span>{{item == null? "" : item==true? "🔥" : "🗙"}}</span>
        </td>
      </tr>
    </table>
  </div>

  <div class="enemyBoard">
    <table class="board">
      <div></div>
      <tr *ngFor='let row of fieldTwo'>
        <td *ngFor='let item of row'>
          <span>{{item == null? "" : item==true? "🔥" : "🗙"}}</span>
        </td>
      </tr>
    </table>
  </div>
</div>