.gameControls-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  transform: translate(-50%, -50%);
  filter: drop-shadow(3px 3px 24px);
  z-index: 12;
}

.gameControls {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
    /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  z-index: 12;
}

.joinGame-component input{
  margin-right: 10px;
}

.gameControls .span-or {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  color: #909090;
}

.newgame-component {
  display: flex;
  align-items: center;
}

.newgame-component .button-register{
  margin-left: 15px;
}

.black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #343434;
  background-color: rgba(52, 52, 52, 0.9);
}

.newgame-component .button-new-game {
  width: 100%;
}

.Boards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Boards>div {
  width: 45%;
}

table td, table th {
  border: 1px solid #dbdbdb;
  padding: 0.5em 0.75em;
  vertical-align: middle;
  height: 50px;
  text-align: center;
}

table {
  margin: 0 auto;
  border: 1px solid #eee;
}

table tr:hover {
  background-color: transparent;
}

.battleship-tile:hover {
  cursor: pointer;
}